.SearchResults{
    box-sizing: content-box;
    width: 50vh;
    background-color: rgba(109, 1, 73, 0.8);
    padding: 2vh 5vh;
    border-radius: 5vh;
    border: 0.3vh solid black;
    margin: 0 2vh;
    margin-bottom: 10vh;
    overflow: hidden auto;
    
}

.SearchResults h2{
    padding-bottom: 0.5vh;
    font-size: x-larger;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar{
    background-clip: padding-box;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
    
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(75, 1, 50, 0.8);
    border-top: 5vh solid transparent;
    border-bottom: 5vh solid transparent;
    background-clip: padding-box;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(70, 1, 47, 0.8);
    border-top: 5vh solid transparent;
    border-bottom: 5vh solid transparent;
    background-clip: padding-box;
  } 

@media only screen and (max-width: 450px){
    .SearchResults{
        padding: 1vh 1.5vh;
        margin: 0 1vh;
    }
}
