.track{
    display: grid;
    grid-template-columns: 3fr 3fr 1fr;
    grid-template-rows: auto auto;
    border-bottom: 1px solid goldenrod;
}

.SongName{
    grid-column: 1 / span 2;
    grid-row: 1/ span 1;
    margin: auto;
}

.artist{
    grid-column: 1 / span 1;
    grid-row: 2/ span 1;
    display: inline;
    margin: auto;
}

.album{
    grid-column: 2 / span 1;
    grid-row: 2/ span 1;
    display: inline;
    margin: auto;
}


.btg-add{
    grid-column: 3 / span 1;
    grid-row: 1/ span 2;
    display: inline;
    border-radius: 100%;
    background-color:  rgba(0, 0, 0, 0.5) ;
    border: none;
    color: gold;
    font-weight: bold;
    margin: auto;
}

.btg-add:active{
    background-color:  rgba(0, 0, 0, 1) ;
}

@media only screen and (max-width: 450px){
    .track{
        display: flex;
        flex-direction: column;
    }
}