.App {
  text-align: center;
  background-image: url("./components/App/9705.jpg");
  background-size: contain;
  height: 100vh;

}

.App-header {
  background-image: linear-gradient(to bottom, black 50%, transparent);
  padding-bottom: 2vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  position: fixed;
  top: 0;
  width: 100%;
  position: relative;
}

.App-header h1 {
  margin-top: 0;
  background-image: linear-gradient(to bottom right, magenta, yellow);
  background-clip: text;
  color: transparent;

}

.App-main {
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
}

.App-footer {
  background-image: linear-gradient(to bottom, transparent, black 30%);
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 1.5vh;
}

.App-footer p {
  margin-bottom: 0;
}

.App-link {
  color: rgb(229, 21, 101);
}